<mat-card class="my-5">
    <mat-card-title align="center" class="homeHeading">
        Summary
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <div class="userCard my-4 p-3">
                    <div class="details">
                        <h4>Users Count</h4>
                        <h1>{{userCount}}</h1>
                        <button mat-raised-button routerLink="/users">Go To Users
                            <mat-icon>arrow_circle_right</mat-icon>
                        </button>
                    </div>
                    <div class="image">
                        <img src="../../../../assets/img/userGroup.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="productCard my-4 p-3">
                    <div class="details">
                        <h4>Products Count</h4>
                        <h1>{{prodCount}}</h1>
                        <button mat-raised-button routerLink="/products">Go To Products
                            <mat-icon>arrow_circle_right</mat-icon>
                        </button>
                    </div>
                    <div class="image">
                        <img src="../../../../assets/img/products.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>